body {
    margin-top: 60px;
}

.chevron-toggle {}

.archive-item {}

.h-year {}

.h-month {}

.list-padding {
    padding: 5px;
}

.list-group.list-group-root {
    padding: 0px;
    overflow: hidden;
    border-width: 0px;
}

.list-group.list-group-root > .list-group-item {
    margin-bottom: 0px;
    border-width: 0px;
}

.list-group.list-group-root > .list-group > .list-group-item {
    border-width: 0px;
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    border-width: 0px;
    padding-left: 55px;
}

.list-group.list-group-root.well, .list-group{
    margin-bottom: 0px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.comment-section {
    padding-left:40px;
}

.has-error { }

label.has-error {
    color: red;
}

input.has-error, textarea.has-error  {
    border:1px solid red;
}