<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Archive</h5>
    </div>
    <div class="list-padding">
        <div class="list-group list-group-root well">
            {% for yearNode in archive_tree %}
            <a href="#item-{{yearNode.year}}" class="list-group-item chevron-toggle" data-toggle="collapse">
                <i class="glyphicon glyphicon-chevron-right"></i>{{ yearNode.year }}
            </a>
            <div class="list-group collapse" id="item-{{yearNode.year}}">
                {% for monthNode in yearNode.months %}
                <a href="#item-{{yearNode.year}}-{{monthNode.month_num}}"
                   class="list-group-item chevron-toggle archive-item"
                   data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-right"></i>{{ monthNode.month }} ({{ monthNode.count }})
                    <input type="hidden" class="h-year" value="{{yearNode.year}}">
                    <input type="hidden" class="h-month" value="{{monthNode.month_num}}">
                </a>
                <div class="list-group collapse" id="item-{{yearNode.year}}-{{monthNode.month_num}}">
                    <a class="list-group-item"><i class="fa fa-spinner fa-spin" style="font-size:22px"></i></a>
                </div>
                {% endfor %}
            </div>
            {% empty %}
            <div class="list-group-item">
                No posts yet :(
            </div>
            {% endfor %}
        </div>
    </div>

</div>