<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=ednge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top lead">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'blog_app:index' %}">Main</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                {% block header %}
                {% endblock header %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div id="pageContent">
                <div>
                    {% block content %}
                    {% endblock content%}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="latestPosts"></div>

            <div id="archiveTree"></div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <hr/>
        <p class="text-center">Copyright © KiKi 2016. All rights reserved.</p>
    </div>
</footer>
<script type="text/javascript" src="{% static 'scripts/blog.js' %}"></script>
</body>
</html>