{% extends "blog_app/base.html" %}

{% block header %}
<div class="text-center lead">
   <div><p>It’s not a bug – it’s an undocumented feature. </p></div>
    <div>- Anonymous -</div>
</div>
{% endblock header %}

{% block content %}
{% for post in posts %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <a href="#" id="viewPost">{{post.title}}</a>
            <input type="hidden" id="postID" value="{{post.id}}"/>
            </small>
            <small class="pull-right" style="color: black">{{post.date_added|date:'M d, Y H:i'}}</small>
        </h4>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        {{post.text | safe}}
    </div>
    <div class="panel-footer">
        <small>0 comments</small>
        <div class="clearfix"></div>
    </div>
</div>
{%empty%}
<li>
    There are no added posts
</li>
{% endfor %}
<br/>
{% endblock content %}